.classpath
.deployments
.dockerignore
.editorconfig
.git
.github
.gitignore
.gradle
.idea
.project
.settings/
build
docker-compose.yaml
Dockerfile
hello-world.iml
hello-world-service/build
hello-world-service/.classpath
hello-world-service/.project
hello-world-service/.settings/
hello-world-service/bin/
Jenkinsfile
README.md
hello-world-service-smoketest
**/*.class
